appdirs==1.4.4
APScheduler==3.6.3
attrs==19.3.0
cached-property==1.5.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
decorator==4.4.2
defusedxml==0.6.0
environs==8.0.0
ERPpeek==1.7.1
fastapi==0.61.1
idna==2.9
influxdb==5.3.0
isodate==0.6.0
lxml>=4.6.2
marshmallow==3.6.1
msgpack==0.6.1
nose==1.3.7
pony==0.7.13
prompt-toolkit==3.0.5
psycopg2==2.8.5
Pygments==2.6.1
pymodbus==2.3.0
pyserial==3.4
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
PyYAML==5.3.1
rednose==1.3.0
requests==2.23.0
requests-toolbelt==0.9.1
six==1.15.0
termstyle==0.1.11
tzlocal==2.1
urllib3==1.25.9
wcwidth==0.1.9
yamlns==0.8.3
zeep==3.4.0
environs==8.0.0
pony==0.7.13
